{% from 'modules/_corners.html' import corners %}
{% extends 'layout.html' %}
{% block content %}
{{ corners(about=True) }}

<div id="about">
  <div class="container">
    <div id="about-header">
			<img src="/assets/images/brandnewroman-title.png" />
		</div>
    <p>
      Brand New Roman is the most corporate Corporate Font ever created! Now all your content can be sponsored content, and sponsored by everybody!
    </p>
    <p>
      But, If you’re sponsored by everybody, are you really sponsored by nobody?
    </p>
    <p>
      You can download Brand New Roman for free as a colored or regular monochrome font. <a href="https://www.colorfonts.wtf" target="_blank" class="ga" ga_id="about-color-fonts-link">Color fonts</a> are still relatively new and are thus far only supported in Adobe Photoshop/Illustrator/InDesign CC 2018+. They display in Firefox and Edge; Safari support is coming in September.  
    </p>
    <p>
      If you make anything cool send it our way! #BrandNewRoman 
    </p>
    <br>
    <p>
      Brand New Roman was designed by <a href="https://www.hellovelocity.com" target="_blank" class="ga" ga_id="about-hv-link">Hello Velocity</a>, a New York based experimental creative studio. 
    </p>
    <p>
      Feel free to reach out: <a href="mailto:friend@hellovelocity.com" target="_blank" class="ga" ga_id="about-hv-email">friend@hellovelocity.com</a>
    </p>
    <br>
    {# TODO uncomment during launch
    <p>
      Some of our friends have made:
      <ul>
        <li>An awesome <a href="" target="_blank" class="ga" ga_id="about-barron-shirt-link">shirt</a> by Barron</li>
        <li>A design for an <a href="" target="_blank" class="ga" ga_id="about-communist-manifesto-link">edition of the communist manifesto</a> by Channel Studio</li>
        <li>These <a href="" target="_blank" class="ga" ga_id="about-kevin-posters-link">excellent posters</a> by Kevin</li>
        <li>A fire <a href="" target="_blank" class="ga" ga_id="about-firefox-plugin-link">Firefox plugin</a> by Channel Studio</li>
      </ul>
    </p>
    #}
    <br>
    <br>
</div>

{% endblock %}
