{% from 'modules/_corners.html' import corners %}
{% extends 'layout.html' %}
{% block content %}
{{ corners(about=True) }}

<div id="about">
  <div class="container">
    <div id="about-header">
			<img src="/assets/images/brandnewroman-title.png" />
		</div>
    <p>
      Brand New Roman is the most corporate Corporate Font ever created! Now all your content can be sponsored content, and sponsored by everybody!
    </p>
    <p>
      But, If you’re sponsored by everybody, are you really sponsored by nobody?
    </p>
    <p>
      You can download Brand New Roman for free as a colored or regular monochrome font. <a href="https://www.colorfonts.wtf" target="_blank" class="ga" ga_id="about-color-fonts-link">Color fonts</a> are still relatively new and are thus far only supported in Adobe Photoshop/Illustrator/InDesign CC 2018+. They display in Firefox and Edge; Safari support is coming in September.  
    </p>
    <p>
      If you make anything cool send it our way! #BrandNewRoman 
    </p>
    <br>
    <p>
    Brand New Roman was designed by <a href="https://www.hellovelocity.com" target="_blank" class="ga" ga_id="about-hv-link">Hello Velocity</a>, a New York based experimental creative studio, and was made using <a href="https://www.fontself.com" target="_blank" class="ga" ga_id"about_fontstyle_link">Fontself</a>.
    </p>
    <p>
    Feel free to reach out at <a href="mailto:friend@hellovelocity.com" target="_blank" class="ga" ga_id="about-hv-email">friend@hellovelocity.com</a> or on Instagram <a href="https://www.instagram.com/hellovelocity" target="_blank">@hellovelocity</a>.
    </p>
    <br>
    <p>
      Some of our friends have made:
      <ul>
        <li>An awesome <a href="" target="_blank" class="ga" ga_id="about-barron-shirt-link">shirt</a> by Barron</li>
        <li>A design for an <a href="https://www.instagram.com/p/Bm02PnDB6BC/?utm_source=ig_share_sheet&igshid=39rgvrl3b7dh" target="_blank" class="ga" ga_id="about-communist-manifesto-link">edition of the Communist Manifesto</a> by Channel Studio</li>
        <li>Some <a href="https://store.hellovelocity.com" target="_blank" class="ga" ga_id="about-bumper-stickers-link">bumper stickers</a> by Hello Velocity.</li>
        <li>These <a href="http://kevincadena.com/bnr" target="_blank" class="ga" ga_id="about-kevin-posters-link">excellent posters</a> by Kevin</li>
        <li>A fire <a href="https://addons.mozilla.org/en-US/firefox/addon/brandnewromanify" target="_blank" class="ga" ga_id="about-firefox-plugin-link">Firefox plugin</a> by Channel Studio</li>
        <li>An updated <a href="https://www.instagram.com/p/Bm07f0xlEzP/?utm_source=ig_web_copy_link" target="_blank" class="ga" ga_id="about-declaration-of-independence-link">Declaration of Independence</a> by Nikolas</li>
      </ul>
    </p>
    <br>
    <p>
      <em>
        Brand New Roman is not endorsed by, directly affiliated with, maintained, authorized, or sponsored by any of the brands within the font. Especially not Pepsi which has been removed from the font at its request.
      </em>
    </p>
    <br>
    <br>
</div>

{% endblock %}
