{% macro corners(custom=False, about=False, bg_color='#ffffff', color='#000000') %}
  {# custom: index page - the page you can type in #}
  {# about: about page #}

  {% if about %}
  <div id="navigation">
    <a href="/" class="ga" ga_id="corner-back-btn"><div id="back">back</div></a>
  </div>
  {% endif %}

  {% if custom %}
  <div id="color-warning" style="display:none;">
    Looks like your browser doesn't support <a href="https://www.colorfonts.wtf" target="_blank" class="ga" ga_id="corner-warning-color-font-link">Color Fonts</a>. To get the best experience, try using <a href="https://www.firefox.com" target="_blank" class="ga" ga_id="corner-warning-firefox-link">FireFox</a> or <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank" class="ga" ga_id="corner-warning-edge-link">Microsoft Edge</a>. &nbsp;
    <span id="color-warning-close"><em>[Dismiss]</em></span>
  </div>

  <div id="editor">
    <div id="editor-left">
      <div class="color-picker">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <input id="editor-bg-color-picker" type="text" maxlength="7" value="{{ bg_color }}">
      </div>
      <div class="color-picker" style="margin-top:8px;">
        <i class="fa fa-font" aria-hidden="true"></i>
        <input id="editor-color-picker" type="text" maxlength="7" value="{{ color }}">
      </div>
    </div>
    <div id="editor-right">
    	<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
				<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
				</label>
			</div> 
    </div>
  </div>
  {% endif %}

  <div id="footer">

    <div id="options">
      <div id="download" class="ga" ga_id="corner-download-btn">DOWNLOAD</div>
      {% if custom %}
      <a href="/about" class="ga" ga_id="corner-about-link"><img src="/assets/images/about.png" id="options-about-btn" class="icon bottom-right-icon"/></a>
      {% else %}
      <a href="/" class="ga" ga_id="corner-custom-link"><img src="/assets/images/type.png" id="options-type-btn" class="icon bottom-right-icon" /></a>
      {% endif %}
    </div>

    <div id="created-by">
      <div id="created-by-btn">
        <a href="https://www.hellovelocity.com" target="_blank" class="ga" ga_id="corner-hv-link">
          <img src="/assets/images/hv-logo.png" id="created-by-hv" class="icon" />
        </a>
      </div>
    </div>

  </div>

{% endmacro %}

